


.cont{
    color: white;
    height: 450px;
}

.about{
    display: flex;
    justify-content: center;

}
.about h1{
font-size: 45px;
border-bottom: 7px #152855 groove;

}

.para{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.para p{
    width: 700px;
}
.but{
   display: flex;
   justify-content: center;
}
@media (max-width:500px) {
    .cont{
        color: white;
        height: 680px;
    }
    
}
